@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --font: "Inter", sans-serif;
}

@media (max-width: 412px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .burgur_btn img {
    width: 1.2rem;
    height: 1rem;
  }

  .burgur_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 1.5rem 1.5rem;
  }

  .burgur_btn h3 {
    margin: 0;
    margin-top: 2rem;
  }

  .burgur_btn h3 {
    padding-left: 1rem;
    color: #64070a;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font);
    font-style: normal;
    font-family: "Inter";
    font-style: normal;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  .input_search {
    background: #ffffff;
    border: 1px solid #64070a;
    border-radius: 15px;
    box-sizing: border-box;
    width: 90%;
    align-items: center;
    display: inline-flex;
  }
  .search_button {
    border: none;
  }
  .input_search {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  }

  .input_search input {
    border: none;
    width: 100%;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
  .search_section {
    width: 100%;
    text-align: center;
  }

  .inputs {
    margin: 0 !important;
    padding-left: 0.8rem;
    margin-left: 4%;
    height: 36px;
    align-items: center;
    margin-top: 11px;
    display: inline-flex;
  }

  .input_search input {
    border: none;
  }

  .inputs {
    padding-left: 7px;
    border: none;
  }

  .input_img {
    width: 1rem;
    margin-left: 9px;
    height: 18px;
  }

  .inputs input:active {
    border: none;
  }

  .inputs[type="search"]::placeholder {
    padding-left: -1px;
    font-family: var(--font);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }

  .a_tag {
    text-decoration: none;
    margin-top: 12px;
    overflow-x: auto;
    white-space: nowrap;
    height: 29px;
  }

  .a_tag::-webkit-scrollbar {
    display: none;
  }

  .a_tag ul {
    padding-left: 0;
    margin: 0;
  }
  .a_tag ul li {
    display: inline-block;
    margin: 0 7px;
    border-radius: 0.7rem;
    padding: 0.3rem 0.7rem;
  }

  .a_tag ul li a {
    font-family: "Inter";
    font-weight: 500;
    color: #64070a;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #64070a;
    padding: 4px 9px;
    border-radius: 10px;
    text-decoration: none;
  }

  .a_tag ul li {
    display: inline-block;
    margin: 0 7px;
  }

  a.active,
  a:active {
    background-color: #e85e63;
    color: #ffffff !important;
    transition: 0.5s;
  }

  .image-container {
    position: absolute;
    width: 100%;
  }

  .backround-img {
    position: absolute;
    width: 100%;
    height: 17.6vh;
  }
  .main-img {
    position: relative;
    left: 14px;
    width: 93%;
    top: 7px;
    height: 129px;
  }
}
